<!-- show our home page with login links -->

<!-- tutorial: -->
<!-- https://scotch.io/tutorials/easy-node-authentication-setup-and-local -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Node Use Authentication</title>
  <link rel="stylesheet" href="stylesheet/style.css">
</head>
<body>

</body>
</html>
