
<!-- show our home page with login links -->

<!-- tutorial: -->
<!-- https://scotch.io/tutorials/easy-node-authentication-setup-and-local -->

<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<div class="container-fluid">


    <div class="jumbotron text-center">
        <h1><span class=""></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class=""></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class=""></span> Local Signup</a>
    </div>

</div>
</body>
</html>

<style>
    /*body{ padding-top:80px; }*/
  </style>
